<div class="row">
            @foreach (var item in ViewBag.dataContent) {
                <h2>@item.First_name</h2>
                @foreach (var data in item.articles ) {
                    @data
                }
            }
</div>