<div class="row">
    <b>Employee Name:</b> @ViewBag.data
    @foreach (var product in @ViewBag.data)
            {
                // cut for brevity, need to add back more code from original
                <li>@product.Id</li>
            }
</div>